*{
    padding:0;
    margin:0;
}
body{
    background-color:grey;
}
.titulo{
    background-color: white;
    width:1000;
    margin: auto;
    text-align: center;
    padding:10px;
    font-size:30px;
    text-shadow: 1px 2px 4px #000;
}

.contengrid{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:auto;
    gap:5px;
    margin: auto;
    width:1000px;
    grid-auto-rows: minmax(40px);
}

.contengrid .encabezado{
    grid-area:encabezado;
    grid-column-start:1;
    grid-column-end:4;
    grid-row:1 / 2;
    text-align: center;
    text-transform:uppercase;
    padding:20px;
    font-size: 25px;
    font-family:sans-serif, 'Franklin Gothic Medium',
    'Arial Narrow', Arial, sans-serif;
    border-radius:10px;
    color:white;
    background-color:rgb(0, 0, 0);

}

.contengrid .cuerpo{
    grid-area:cuerpo;
    grid-column:1 / 4;
    grid-row: 2 / 3;
    background-color:orange;
    padding:7px;
    text-transform: capitalize;
}
.cuerpo img{
    width:200px;
    height:auto;
    float:left;
    padding:5px 5px 0px 5px;
}

.contengrid .Sencabezado2{
    background-color:blueviolet;
    grid-area:Sencabezado2;
    grid-column:1 / 4;
    grid-row:4/ 5;
    padding:20px;
    text-align: center;
    font-size:25px;
    font-family:sans-serif, 'Franklin Gothic Medium',
    'Arial Narrow', Arial, sans-serif;
    text-transform:uppercase;

}

.contengrid .cuerpo2{
    background-color:blue;
    grid-area:cuerpo2;
    grid-column:1 / 3;
    grid-row: 5 / 8;

 }
.cuerpo2 img{
    width:200px;
    height:auto;
    float:left;
    padding:5px 5px 0px 5px;
}
.cuerpo2 img:hover{
    width:190px;
    transition:200ms;
    border: #000 solid 5px;
    cursor:pointer;
    padding:5px;

}

.contengrid .anuncio{
    background-color:green;
    grid-area:anuncio;
    grid-column:3 / 4;
    grid-row: 5 / 8;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction: column;

}
.anuncio img{
    width:320px;
    transition:400ms;
}
.anuncio img:hover{
    width: 315px;
    transition:200ms;
    border: #000 solid 5px;
    cursor:pointer;

}

.contengrid .pies{
    background-color:Red;
    grid-area:pies;
    grid-column:1 / 4;
    grid-row:8 / 9;
    padding:30px;
    font-size:20px;
    margin:10px 0 0 0;
}

.Imagenes{
    width:200px;
    height: auto;
}

.Gimagenes{
    margin: auto;
    background-color: aqua;
    border: #000 solid 5px;
    width:1000px;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: auto;
    gap:10px;
}
.Gimagenes div {
    border: #000 solid 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding: 10px;
}
div .img1{
    filter: blur(5px);
}
div .img2{
    filter: brightness(50%);
}
div .img3 {
    filter: contrast(50%);
}
div .img4{
    filter:drop-shadow(16px 16px 10px black);
}
div .img5{
    filter:grayscale(90%);
}
div .img6{
    filter:hue-rotate(50deg);
}
div .img7{
    filter:invert(100%);
}
div .img8{
    filter:opacity(40%);
}
div .img9{
    filter:saturate(20%);
}
div .img10{
    filter:sepia(100%);
}


.divimg img{
    width:300px;
    margin-left:15px;
    filter: drop-shadow(15px 15px 10px black);
}
.transfor{
    margin: auto;
    width:1000px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat(3, 1fr);
    gap:10px;
    border:solid 5px red;
    grid-template-areas:'p1 p2 p3'
                        'p4 p5 p6'
                        'p7 p8 p9';
}

.p1{
    grid-area:p1;
    transition:500ms;

}
.p1:active{
    transition:500ms;
    transform: rotate(-180deg);
    transform-origin:bottom right;
}
.p2{
    grid-area:p2;
    transition:500ms;
}
.p2:active{
    transition:500ms;
    transform:translateY(240px);
}
.p3{
    grid-area:p3;
    transition:500ms;
}
.p3:active{
    transition:500ms;
    transform: rotate(180deg);
    transform-origin:bottom left;
}
.p4{
    grid-area:p4;
    transition:500ms;

}
.p4:active{
    transition:500ms;
    transform:translateX(335px);
}
.p5{
    grid-area:p5;
    
}
.p5:hover{
    transition:100s;
    transform: rotate(500000deg);
    transform-origin:center center;
}
.p6{
    grid-area:p6;
    transition: 500ms;
}
.p6:active{
    transition:500ms;
    transform:translateX(-335px);
}
.p7{
    grid-area:p7;
    transition:500ms;

}
.p7:active{
    transform: rotate(180deg);
    transform-origin:top right;
}

.p8{
    grid-area:p8;
    transition:500ms;

}
.p8:active{
    transition:500ms;
    transform:translateY(-240px);
}
.p9{
    grid-area:p9;
    transition:500ms;


}
.p9:active{
    transition:500ms;
    transform: rotate(180deg);
    transform-origin:top left;
}
